// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

a {
    color: #002f9e;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 300ms;

    &:hover {
        color: #3673ff;
    }
}
